button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    width: 200px;
    font-style: oblique;
    color:navy !important;
    border-radius: 10px !important;
    
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    height: 50px;
    text-align: center;
    color:navy !important;
    border-radius:10px !important;
    
}